/* Overall */
html, body {
	overflow-x: hidden;
	max-width: 100%; 
	max-height: 100%;
	font-family: 'Press Start 2P', cursive;
	color: white;

	background-image: linear-gradient(#222034, #4a4397)
	
}

.radiob {
	border: 3px solid red;
	max-width: 40%;
	text-align: center;
}

h1 {
	color: white;
}
/* Progress Bar */
.progress {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.progress-bar {
    background-color: #28a745;
}

/* Text box width */
.container {
    max-width: 900px;
}


/* Text box */
.speech-bubble {
	margin-top: 100px;
    position: relative;
	background: #00aabb;
	border-radius: .4em;   
	color: black;
}

/* Text arrow */
.speech-bubble:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 5%;
	width: 0;
	height: 0;
	border: 20px solid transparent;
	border-top-color: #00aabb;
	border-bottom: 0;
	border-left: 0;
	margin-left: -10px;
	margin-bottom: -20px;
}

.Kimtrock {
	position: absolute;
    left: 40%;
    top: 40%
}
/* Radio buttons */
.group {
	width: 300px;
  	border: 15px solid green;
  	padding: 50px;
  	margin: 20px;
}

.image {
	/* position: absolute; */
    left: 360px;
    top: 0;
    z-index: -1;
}
 
#pixelFrame {
	height: 900px;
	width: 1200px;
	margin-left: auto;
  	margin-right: auto;
	background-image: url("img/Space_Background_1200x900.png");
}