/* Overall */
html, body {
    overflow-x: hidden;
    font-family: 'Press Start 2P', cursive;
}

/* Progress Bar */
.progress {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.progress-bar {
    background-color: #28a745;
}

/* Text box width */
.container {
    max-width: 900px;
}

/* Text box */
.speech-bubble {
	margin: 100px;
    position: relative;
	background: #00aabb;
    border-radius: .4em;   
}

/* Text arrow */
.speech-bubble:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 5%;
	width: 0;
	height: 0;
	border: 20px solid transparent;
	border-top-color: #00aabb;
	border-bottom: 0;
	border-left: 0;
	margin-left: -10px;
	margin-bottom: -20px;
}

.Kimtrock {
	position: absolute;
    left: 267px;
    top: 325px
}
/* Radio buttons */
.group {
	width: 300px;
  	border: 15px solid green;
  	padding: 50px;
  	margin: 20px;
}
 