/* Overall */
html, body {
    overflow-x: hidden;
	font-family: 'Press Start 2P', cursive;
	color: white;
	
}

.radiob {
	/* position: absolute; */
	/* right: 20px;
	  bottom: 10px; */
	/* margin-left: 5%;
	margin-bottom: 5%; */
	/* left: 29%;
	top: 70%; */
	border: 3px solid red;
	max-width: 40%;
  /* margin-top: 25%; */
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.radiob div {
	padding-bottom: 10px;
}

/* Progress Bar */
.progress {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.progress-bar {
	background-color: #28a745;
}

/* Text box width */
.container {
    max-width: 900px;
}


/* Text box */
.speech-bubble {
	/* margin: 100px;
    position: relative;
	background: #00aabb;
	border-radius: .4em;   
	color: black;
	padding: 10px; */
	padding-top: 31px;
	height: 220px;
	/* padding-bottom: 50px; */
	width: 40%;
	margin-left: auto;
	margin-right: auto;

}

/* Text arrow */
/* .speech-bubble:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 5%;
	width: 0;
	height: 0;
	border: 20px solid transparent;
	border-top-color: #00aabb;
	border-bottom: 0;
	border-left: 0;
	margin-left: -10px;
	margin-bottom: -20px;
} */

.Kimtrock {
	margin: 10px;
	position: absolute;
    left: 100px;
    top: 350px;
}
/* Radio buttons */
.group {
	width: 300px;
  	border: 15px solid green;
  	padding: 50px;
  	margin: 20px;
}

.image {
	/* position: absolute; */
    left: 360px;
    top: 0;
    z-index: -1;
}
 
#pixelFrame {
	height: 900px;
	width: 1200px;
	margin-left: auto;
  	margin-right: auto;
	background-image: url("img/Space_Background2.png");
	overflow: hidden;
}

.orbit {
	position: absolute;
	  left: 40%;
	  top: 45%;
}
h1 {
	padding-top: 10px;
}

img {
	height: 200px;
	padding-bottom: 20px;
	display: block;
  margin-left: auto;
  margin-right: auto;
}